* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button:focus {
  box-shadow: none !important;
}
input:focus {
  border: none;
  box-shadow: none !important;
}

/* Loader */
.lds-ellipsis {
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(94, 115, 253);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

/* choose-item-category */
.choose-item-category:hover {
  background-color: rgb(244, 244, 244);
}

/* Hover color item in navbar client */
.nav-link:hover {
  color: #39b0e5;
}

/* input-group-search-dropdown */
.input-group button {
  color: #333333;
  border: 1px solid #bbbbbb;
  background-color: white;
}

.input-group button:hover {
  color: #333333;
  border: 1px solid #bbbbbb;
  background-color: white;
}

.input-group button:active {
  color: #333333;
  border: 1px solid #bbbbbb;
  background-color: white;
}

.input-group button:focus {
  color: #333333;
  border: 1px solid #bbbbbb;
  background-color: white;
}


/* Responsive Appear */
@media only screen and (max-width: 1200px) {
  .responsive-appear-max {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive-appear-min {
    display: block;
  }
}

/* Responsive Disappear */
@media only screen and (max-width: 1200px) {
  .responsive-disappear-max {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .responsive-disappear-min {
    display: none;
  }
}